[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = redstonetrail
	email= joe.bearchell@gmail.com
[init]
	defaultBranch = main
[core]
	pager = /usr/bin/less
