* {
  font-family: "FiraMono Nerd Font";
}

window#waybar {
  background: transparent;
  color: #ffffff;
  border-radius: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-touchpad,
#tray,
#mode,
#custom-mpris,
#idle_inhibitor,
#scratchpad,
#mpd {
  background: #212121;
  margin: 4px;
  padding: 0.2em 1em;
  border-radius: 5px;
}

#workspaces {
  background: #212121;
  margin: 4px;
  border-radius: 5px;
}

#workspaces button {
  background: #212121;
  color: #ffffff;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0.2em 0.4em;
  border-radius: 5px;
}

#workspaces button.active,
#workspaces button.focused,
#workspaces button.hover {
  background-color: #00aa00;
  color: #000000;
  border-radius: 5px;
}
